# Created by https://www.toptal.com/developers/gitignore/api/react,nuxtjs,vuejs
# Edit at https://www.toptal.com/developers/gitignore?templates=react,nuxtjs,vuejs

### NuxtJS ###
# Generated dirs
dist
.nuxt
.nuxt-*
.output
.gen

# Node dependencies
node_modules

# System files
*.log

### react ###
.DS_*
logs
**/*.backup.*
**/*.back.*

bower_components

*.sublime*

psd
thumb
sketch

### Vuejs ###
# Recommended template: Node.gitignore

node_modules/
dist/
npm-debug.log
yarn-error.log

# End of https://www.toptal.com/developers/gitignore/api/react,nuxtjs,vuejs